.container {
    >h3 {
        font-size: 1.5rem;
    }
    .projectContainer {
        display: flex;
        gap: 1rem;
        font-size: 14px;
        >.project {
            display: flex;

            >.details {
                display: flex;
                gap: 1rem;
                align-items: center;
                background-color: var(--color-bg-primary);
                font-size: 14px;
                padding: .5rem;
                margin: .5rem 0;
                border-radius: 0 1rem 1rem 0;

                >a {
                    width: fit-content;
                    img {
                        max-width: none;
                    }
        
                }
            }

            .owner,
            .contributor {
                margin: 0.5rem 0;
                padding: 0.5rem;
                display: flex;
                line-height: 1;
                position: relative;
                align-items: center;
                justify-content: center;
                text-orientation: sideways;
                transform: rotate(180deg);
                white-space: nowrap;
                writing-mode: vertical-rl;
                border-radius: 0 1rem 1rem 0;

            }

            .owner {
                background-color: var(--color-accent);
            }

            .contributor {
                background-color: var(--color-bg-secondary)
            }

        }
    }
    
}
