main {
    .headerContainer {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 1rem 0;
        margin-bottom: .5rem;
        >h1 {
            margin: 0;
            padding: 0;
        }
        >img {
            border-radius: 48px;
            border: 1px solid var(--color-text-primary);
            box-shadow: 0px 0px 6px var(--color-dark-mode);
        }
    }

    .taglineContainer {
        display: flex;
        gap: 1rem;
        margin-bottom: 1.5rem;
        
        .tagline {
            font-weight: 700;
            white-space: nowrap;
            font-size: 12px;
            height: 3rem;
            padding: .5rem .5rem .5rem 1rem;
            gap: .5rem;
            border: 1px solid var(--color-text-primary);
            box-shadow: 0px 0px 6px var(--color-dark-mode);
            border-radius: 4rem;
            background-color: var(--color-bg-primary);        
            display: flex;
            > span {
                margin: auto;
            }
        }
    }
}